.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #f2f2f2;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr;*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(50px, auto);
  align-items: stretch;
}

.first {
  grid-column: 1/3;
  grid-row: 1/4;
}

.second {
  grid-column: 3;
  grid-row: 1;
}

.third {
  grid-column: 1/3;
  grid-row: 4/6;
}

.included {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1em;
}

.included > div {
  padding: 1em;
  background-color: #d5d81ecb;
}

.wrapper > div {
  padding: 1em;
  background-color: #4b95ce;
}

.wrapper > div.light {
  padding: 1em;
  background-color: #c3dcf0;
}
